---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

/* 폰트 패밀리 */
$sans-serif: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;
$global-font-family: $sans-serif !default;
$header-font-family: $sans-serif !default;

/* 기본 폰트 크기 */
$doc-font-size: 16 !default;

/* 타입 스케일 */
$type-size-1: 2.157em !default;  // ~39px
$type-size-2: 1.725em !default;  // ~31px
$type-size-3: 1.375em !default;  // ~25px
$type-size-4: 1.125em !default;  // ~20px
$type-size-5: 1em !default;      // ~18px
$type-size-6: 0.75em !default;   // ~14px
$type-size-7: 0.6875em !default; // ~12px
$type-size-8: 0.625em !default;  // ~10px

/* 헤딩 스케일 */
$h-size-1: 1.563em !default;  // ~25px
$h-size-2: 1.25em !default;   // ~20px
$h-size-3: 1.125em !default;  // ~18px
$h-size-4: 1.0625em !default; // ~17px
$h-size-5: 1.03125em !default;// ~16.5px
$h-size-6: 1em !default;      // ~16px

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";
